* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;    
    margin-right: 5%;
    margin-top: 2%;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;    
    margin-right: 15%;
    flex-wrap: nowrap;
    margin-top: 7%;
}

.jumbotron-paragraph {
    padding-top: 4%;
    padding-bottom: 3%;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 5%;    
    margin-right: 5%;
}

.text-main {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.prova {
    display: flex;
    align-items: flex-start;
}

/* perché ho dovuto specificare row? non è default? */
.primasezione, .terzasezione {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.secondasezione {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.quartasezione {
    display: flex;
    flex-direction: column;
}

/* perché non si vede? */
#newadventure {
    background-image: url(./img/stars.svg);
}